<div class ="footer_img">
    
<div class= "pie">
    <div class="redes-sociales">
        <h3>Encontranos en</h3>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-square"></i>
    </div>

    <div class="wapp">
        <h3>Contactanos!</h3> 
        <i class="fab fa-whatsapp-square"></i>
    </div>

    <div class="envios">
        <h3>Coordinar envios</h3>        
        <i class="fas fa-shuttle-van"></i>
    </div>
</div>

</div>


