
   
        <div class = "logo-slogan">
            <div class="logo">
            <img src="/images/LogosinFondo.png" width="60" alt="Logo de MyPlants"> 
            </div>
            <div class = "nombre-website">
                <a href="/">MyPlants</a>
            </div>
            <div class= "slogan">Comprá con tarjeta de crédito y en cuotas!</div>
        </div>
    <nav>   
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        <div class= "login-cart-register">
            <div class="navegador">
                <img src="/images/avatar.png" width="30" alt="avatar">
                <a href="/login.ejs">Ingresá</a>
            </div>
            <div class="navegador">
                <img src="/images/cart.jpeg" width="30" alt="cart">
                <a href="/cart.ejs ">Mi Carrito</a>
            </div>
            <div class="navegador">
                <img src="/images/register.png" width="30" alt="register">
                <a href="/register.ejs">Registrate</a>
            </div>
        </div>
    </nav>
        <div class="search-container">
            <input type="text" name="buscar" placeholder="Buscá..." class = "search-input">
            <a href="#" class="search-btn">
            <i class="fa fa-search"></i></a>
        </div> 
    </section>
