
   <div class = "logo-slogan-hamburguesa">
        <div class = "logo-slogan">
            <div class="logo">
            <a href="/"><img src="/images/LogosinFondo.png" width="60" alt="Logo de MyPlants"></a>
            </div>
            <div class = "nombre-website">
                <a href="/">MyPlants</a>
            </div>
            <div class= "slogan">Comprá con tarjeta de crédito y en cuotas!</div>
        </div>
        <div class="burger-menu">
            <span onclick="openNav()"><i class="fa fa-bars burger"></i></span> 
        </div>
    </div>
    <nav>   
        <div class= "login-cart-register">            
            <% if(locals.isLogged) { %>
            <div class="navegador">
                <img src="/images/cart.jpeg" width="20" alt="cart">
                <a href="/cart ">Mi Carrito</a>
            </div>
            <div class="navegador">
                 <img src="/images/register.png" width="20" alt="register">
                 <a href="/user/logout">Logout</a>
             </div>
             
             <% } else { %>
                <div class="navegador">
                    <img src="/images/avatar.png" width="20" alt="avatar">
                    <a href="/login">Ingresá</a>
                </div>
                <div class="navegador">
                    <img src="/images/register.png" width="20" alt="register">
                    <a href="/user/register">Registrate</a>
                </div>
                <% } %> 
        </div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/user/login">Ingresá</a>
    <a href="/cart">Mi Carrito</a>
    <a href="/register/">Registrate</a>
</div>

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.body.style.backgroundColor = "white";
    }
    </script>
    </nav>
        <div class="search-container">
            <input type="text" name="buscar" placeholder="Buscá..." class = "search-input">
            <a href="#" class="search-btn">
            <i class="fa fa-search"></i></a>
        </div> 
    </section>


