<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
</header>
<main>
    <div  class="body-404">
        <h4>Ups!.. Pagina no encontrada </h4>
        <br>
        <img src="../images/BrokenPlant.png" class="broken-plant">
        <br>
    </div>

</main>
</body>

<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>