<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
</header>
<main>
    <div  class="body-404">
        <img src="../images/BrokenPlant.png" class="broken-plant">
        <h5>Ups!.. Pagina no encontrada </h5>

    </div>

</main>
</body>

<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>