<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPlants: Vestí tu casa de verde!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style_jenny.scss">
    <link rel="stylesheet" href="css/style_jenny.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

</head>
<body>
    <header>
            <div class = "logo-slogan">
                <div class="logo">
                <img src="/images/LogosinFondo.png" width="60" alt="Logo de MyPlants"> 
                </div>
                <div class = "nombre-website">
                    <a href="/index.html">MyPlants</a>
                </div>
                <div class= "slogan">Comprá con tarjeta de crédito y en cuotas!</div>
            </div>
        <nav>   
            <div class= "login-cart-register">
                <div class= "navegador">
                    <img src="/images/avatar.png" width="30" alt="avatar">
                    <a href="/login.html">Ingresá</a>
                </div>
                <div class= "navegador">
                    <img src="/images/cart.jpeg" width="30" alt="cart">
                    <a href="/productCart.html">Mi Carrito</a>
                </div>
                <div class= "navegador">
                    <img src="/images/register.png" width="30" alt="register">
                    <a href="/register.html">Registrate</a>
                </div>
            </div>
        </nav>
        <div class="buscador">
            <input type="text" name="buscar" placeholder="Buscá lo que necesites">
            <i class="fa fa-search"></i>
        </div> 
        <section class = "register-plants-accesories">
            <ul>
                <li><a href="/productDetail.html">Plantas</a></li>
                <li><a href="/accesories.html">Accesorios</a></li>
            </ul>
            </section>
    </header>


</body>
</html>



