<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
</header>

<main class= "main-index">
    <section class = "plants-accesories">
        <ul>
            <div class= categorias><li><a href="/product">Plantas</a></li></div>
            <div class= categorias><li><a href="/accesories">Accesorios</a></li><div>
        </ul>
    </section>
</main>

</body>
<footer>
    <%- include('./partials/footer'); %>
</footer>
</html>


   <!-- <header>
            <div class = "logo-slogan">
                <div class="logo">
                <img src="/images/LogosinFondo.png" width="60" alt="Logo de MyPlants"> 
                </div>
                <div class = "nombre-website">
                    <a href="/index.html">MyPlants</a>
                </div>
                <div class= "slogan">Comprá con tarjeta de crédito y en cuotas!</div>
            </div>
        <nav>   
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
            <div class= "login-cart-register">
                <div class="navegador">
                    <img src="/images/avatar.png" width="30" alt="avatar">
                    <a href="/login.html">Ingresá</a>
                </div>
                <div class="navegador">
                    <img src="/images/cart.jpeg" width="30" alt="cart">
                    <a href="/productCart.html">Mi Carrito</a>
                </div>
                <div class="navegador">
                    <img src="/images/register.png" width="30" alt="register">
                    <a href="/register.html">Registrate</a>
                </div>
            </div>
        </nav>
        <div class="buscador">
            <input type="text" name="buscar" placeholder="Buscá lo que necesites">
            <i class="fa fa-search"></i>
        </div> 
        <section class = "register-plants-accesories">
            <ul>
                <div class= categorias><li><a href="/productDetail.html">Plantas</a></li></div>
                <div class= categorias><li><a href="/accesories.html">Accesorios</a></li><div>
            </ul>
            </section>
    </header>
-->




