<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vestí tu casa de verde con MyPlants!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles_login.css">

</head>
    <header>
        <img src="/images/logo.png" width="60" alt="Logo de MyPlants">
        <div class="buscador">
            <input type="text" name="buscar" placeholder="Buscá lo que necesites">
            <i class="fa fa-search"></i>
        </div>    
        <p>Comprá con tarjeta de crédito y en cuotas!</p>
        <nav>
            <ul>
                <li><a href="#">Plantas</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
            <ul>
                <li><a href="/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/productCart.html">Mi Carrito <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
<body>
    <form action="/" method="GET" class= "alta-login">

        <div class ="altausuario-login">

            <div class="usuario-login">
                <label for="usuario" ></label>
                <input type= "text" name="usuario" placeholder="Nombre de usuario"> 
            </div>

            <div class="password-login">
                <label for="password" ></label>
                <input type="password" name="password" placeholder="Elegí tu contraseña">
            </div>
            
            <div class="recordarcontraseña-login">
            <input type = "checkbox" name = "recordarcontraseña" value= "recordarcontraseña">Recordar Contraseña
            </div>

            <div class="olvidemiclave-login">
                <li><a href="#">Olvide mi clave</a></li>
            </div>

                <button type="submit" class="boton-login" >Enviar </button>
                <button type="reset" class="boton-borrar" >Borrar </button>

        </div>
    
        </form>    
</body>
</html>