<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vestí tu casa de verde con MyPlants!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>

<header>
    <div class = "logo-slogan">
        <div class="logo">
        <img src="/images/LogosinFondo.png" width="60" alt="Logo de MyPlants"> 
        </div>
        <div class = "nombre-website">MyPlants</div>
        <div class= "slogan">Comprá con tarjeta de crédito y en cuotas!</div>
    </div>
<nav>   
    <div class= "login-cart-register">
        <div class= "navegador">
            <img src="/images/avatar.png" width="30" alt="avatar">
            <a href="/login.html">Ingresá</a>
        </div>
        <div class= "navegador">
            <img src="/images/cart.jpeg" width="30" alt="cart">
            <a href="/productCart.html">Mi Carrito</a>
        </div>
        <div class= "navegador">
            <img src="/images/register.png" width="30" alt="register">
            <a href="/register.html">Registrate</a>
        </div>
    </div>
</nav>
    <div class="search-container">
        <input type="text" name="buscar" placeholder="Buscá..." class = "search-input">
        <a href="#" class="search-btn">
        <i class="fa fa-search"></i></a>
    </div> 
</section>
</header>

<body>
    <form action="/" method="GET" class= "alta-login">

        <div class ="altausuario-login">

            <h2> Bienvenido! Ingresa tus datos</h2>

            <div class="usuario-login">
                <label for="usuario" ></label>
                <input type= "text" name="usuario" placeholder="Nombre de usuario"> 
            </div>

            <div class="password-login">
                <label for="password" ></label>
                <input type="password" name="password" placeholder="Elegí tu contraseña">
            </div>
            
            <div class="recordarcontraseña-login">
            <input type = "checkbox" name = "recordarcontraseña" value= "recordarcontraseña">Recordar Contraseña
            </div>

            <div class="olvidemiclave-login">
                <li><a href="#">Olvide mi clave</a></li>
            </div>

                <button type="submit" style="margin:10px" class="boton-login" >Enviar </button>
                <button type="reset" style="margin:10px" class="boton-borrar" >Borrar </button>

        </div>
    
        </form>    
</body>
</html>