<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/productCart.css" />
    <title>Cart</title>
  </head>
  <body>
    
    <header>
      <div class = "logo-slogan">
          <div class="logo">
          <img src="/images/LogosinFondo.png" width="60" alt="Logo de MyPlants"> 
          </div>
          <div class = "nombre-website">MyPlants</div>
          <div class= "slogan">Comprá con tarjeta de crédito y en cuotas!</div>
      </div>
  <nav>   
      <div class= "login-cart-register">
          <div class= "navegador">
              <img src="/images/avatar.png" width="30" alt="avatar">
              <a href="/login.html">Ingresá</a>
          </div>
          <div class= "navegador">
              <img src="/images/cart.jpeg" width="30" alt="cart">
              <a href="/productCart.html">Mi Carrito</a>
          </div>
          <div class= "navegador">
              <img src="/images/register.png" width="30" alt="register">
              <a href="/register.html">Registrate</a>
          </div>
      </div>
  </nav>
      <div class="search-container">
          <input type="text" name="buscar" placeholder="Buscá..." class = "search-input">
          <a href="#" class="search-btn">
          <i class="fa fa-search"></i></a>
      </div> 
  </section>
</header>

    <main></main>

    <footer></footer>
  </body>
</html>
