* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  }


  header{
    background-color: #90f1aa;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 0px;
    width: 100%;
    padding-bottom: 1em;
  }

  main   {
    position: relative;
    text-align: center;
    color: #318547;
    box-sizing: content-box;
    
  }

  .main-index  {
    background-color: white;
    position: relative;
    text-align: center;
    width: 100%;
    color: #318547;
    box-sizing: content-box;

  }

  .productList {
    max-width: 80%;
    padding-left: 11%;
  }
 
  img {
    border-radius: 50%;
    max-width: 70%;
  }


.is-invalid{
  background-color: #e76e6e;

}

.is-valid{
  background-color: #ddffdd;
}

.nombre-website{
  font-weight: bold;
  font-size: large;
  padding-bottom: 0em;
}

.slogan {
  color: rgba(255, 123, 0, 0.952);
  font-weight: bolder;
  padding-bottom: 0.5em;
}

.logo-slogan {
  display: flex;
  align-items:center;
  flex-direction: column;
  color: #134d22;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 2em;
  text-transform: uppercase;
}

.login-cart-register{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: content-box;
  padding-bottom: 2em;
  text-transform: uppercase;
 
}

.plants-accesories{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-top: 2em;
  text-align: center;

}

/* start of link styles*/
.mensaje-alerta{
    color: crimson;
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bolder;
}

p{
  position: absolute;
  transform: translate(-50%);
}

/*a {
  color: #134d22;
}*/

/* A revisar*/

a {
  display: block;
  color: #134d22;
  text-decoration: none;
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}

.body-404{
  background-image: url("/public/images/Como-cultivar-en-la-luna.jpg");
}


.categorias a {
  display: block;
  color: #134d22;
  text-decoration: none;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;

}
/*a::after{
  content: "";
  background: #90f1aa;
  mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
a:hover::after{
  height: calc(100% + 8px)
}
/*REVISAR*/

/* ------efectos del nombre el sitio---------*/ 

.nombre-website a {
	position: relative;
	display: inline-block;
	font-family: "Great Vibes", serif;
	font-size: calc(0.2em + 2vw);
	text-decoration: none;
	color: rgb(var(--link-color));
}

.nombre-website a:hover::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;

	/* Adjust height and bottom values to work with selected font */
	height: .05em;
	bottom: .1em;

	/* Create gradient */
	background-image: linear-gradient(
		to right,
		transparent 0%,
		rgba(var(--link-color), .6) 30%,
		rgba(var(--link-color), .7) 50%,
		rgba(var(--link-color), .6) 70%,
		transparent 100%
	);

	/* Set-up fade-in animation */
	opacity: 0;
	animation: fadeIn 400ms ease-out forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

.navegador a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

.navegador a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

/*.navegador a{
  display: block;
  color: rgb(11, 75, 9);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}
*/
/*.navegador a:after{
  content: "";
  background-color: white;
  opacity: 0.2;
	mix-blend-mode: normal;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
	transition: all .3s cubic-bezier(0, 0.5, 1, 0.5);
}

.navegador a:hover::after{
	height: calc(100% + 8px)
}

/* ------ fin de efectos de botones del navegador---------*/ 

/* ------efectos de BARRA BUSCADOR ---------*/ 

/*.search-container{
    padding-top: 1em;
    border-radius: 10%;
    padding-bottom: 2em;
  }*/

/* Styles para form Nuevos Prod*/

.form-prodId {
  display: none;
}

.form-nuevosProd{
  padding: 1em;
}


.search-container{
  background: #fff;
  height: 20px;
  border-radius: 30px;
  padding-top: 1.5em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2), 
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


.search-container:hover > .search-input{
  width: 300px;
}

.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}

.search-container .search-btn .fas{
  color: #5cbdbb;
}

@keyframes hoverShake {
0% {transform: skew(0deg,0deg);}
25% {transform: skew(5deg, 5deg);}
75% {transform: skew(-5deg, -5deg);}
100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
animation: hoverShake 0.15s linear 3;
}

/* ------fin de efectos de BARRA BUSCADOR ---------*/ 

/* ------efectos de categorias PLANTAS y ACCESORIOS---------*/ 

/*
.categorias a{
  display: block;
  color: rgb(23, 121, 19);
  text-decoration: none;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  background: white
}

.categorias a::after{
  content: "";

	mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
	transition: all .3s cubic-bezier(0.111, 0.6, 0.89, 0.48);
}

.categorias a:hover::after{
	height: calc(100% + 8px);

} 

.categorias a {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

.categorias a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

*/

.main-index {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  padding-bottom: 2em;

}

.plants-accesories ul {
  list-style:none;

}

.categorias a {
  margin: 10%;
  text-align: center;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 30px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  position: relative;
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
  text-align: center;
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.categorias a:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.categorias a:focus {
  outline: none;
}



/* ------FIN  de efectos de categorias PLANTAS y ACCESORIOS---------*/ 

/* ------Comienzo de efectos de "tabla" ---------*/ 
.img-tabla img{
  width: 10vw;
  height: 10vh;
}

.contendor-tabla{
  width: 80vw;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid;
  padding: 10%;
}


thead th:nth-child(1) {
  width: 12%;
}

thead th:nth-child(2) {
  width: 22%;
}

thead th:nth-child(3) {
  width: 22%;
}

thead th:nth-child(4) {
  width: 22%;
}

thead th:nth-child(5){
  width: 22%;
}
th, td {
  padding: 20px;
}

td {
  letter-spacing: 1px;
  
}

tbody td {
  text-align: center;
}
thead tr {
  background-image: url(/images/fondoTabla.jpg);
  background-size: cover;
background-position: center;
}
tfoot th {
  text-align: right;
}
tfoot td{
  text-align: right;
}

 tfoot {
  font-family: 'Source Sans Pro', sans-serif; 
  color: #075c3b;
  text-shadow: 1px 1px 1px #366d58;
}

caption {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  color: #075c3b;
  padding: 20px;
  font-style: italic;
  caption-side: top;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px whitesmoke;
}

/* Cambial colo de fondo de las filas de manera alternada */
tbody tr:nth-child(odd) {
  background-color: #90f1aa;
}

tbody tr:nth-child(even) {
  background-color: white;
}
/* ------fin de efectos de "tabla" ---------*/ 




/* ------menu de hamburguesa mobile---------*/ 

.burger-menu {
  text-align: center;
}
.burger-menu i {
  background-color: #318547;
  opacity: 80%;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
}



/* ------FIN menu de hamburguesa mobile---------*/ 


/* ------MEDIA QUERIES: definicion de elementos que aparecen y desaparecen segun la resolucion---------*/ 

@media (min-width: 361px) {

  .burger-menu {
    text-align: center;
    display: none;
  }
  .burger-menu i {
    background-color: rgb(23, 121, 19);
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    display: none;
  }

  .sidenav {
    display: none;
  }

 }

@media (max-width: 360px) {

.login-cart-register {
display: none;

}

.slogan {
  display: none;
}

.logo-slogan {
  margin: auto;
}

.burger-menu {
  text-align: center;
  margin: auto;
}
.burger-menu i {
  background-color: rgb(23, 121, 19);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
 
}


.logo-slogan-hamburguesa {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: baseline;
}

.nombre-website {
  display: none
}

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/*----EL QUILOMBO DEL BURGUER MENU-(INICIO)--*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #90f1aa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #134d22;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*----EL QUILOMBO DEL BURGUER MENU  (FIN)---*/


}

@media (min-width: 768px) {
  h1 {
      font-size: 50px;
      text-align: center;
  }
  h2 {
      font-size: 36px;
  }
  table {
      font-size: 20px;
  }
  .parrafo {
      font-size: 20px;
  }
  .contenedor-caracteristicas{
      border-radius: 10%;
  }
  .contenedor-descripcion{
      border-radius: 10%;
  }
  button{
      font-size: 18px;
      border-radius: 5%; 
      
  }
 .banner {
  display: none;
 }
 h4 {
  text-align: center;
  font-size: 24px;
}

}

@media (min-width: 1200px) {
  h1 {
      font-size: 50px;
  }
  h2 {
      font-size: 36px;
  }
  table {
      font-size: 20px;
  }
  p {
      font-size: 20px;
  }
  .contenedor-caracteristicas{
      border-radius: 10%;
  }
  .contenedor-descripcion{
      border-radius: 10%;
  }
  button{
      font-size: 18px;
      border-radius: 5%; 
  }
  footer {
      padding-bottom: 0%;
  }
  .banner {
      display: block;
      margin-top: 2%;
  }
  h4 {
      text-align: left;
      font-size: 24px;
  }
  .logo1 {
      align-self: center;
      width: 5%;
  }
}


/* ------ PRODUCT CART ---------*/ 
.contenedor-caracteristicas {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-left: 2%; 
    margin-top: 3%;
    margin-bottom: 5%;
    width: 95%;
    background-color: rgba(203, 245, 199, 0.5);
    border-radius: 15%;
    margin-right: 50%;

}
.contenedor-descripcion {
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-left: 2%; 
    margin-top: 3%;
    width: 95%;
    background-color: rgba(203, 245, 199, 0.5);
    border-radius: 15%;
    margin-right: 50%;
}
.contenedor-palabra-caracteristicas {
    padding: 2%;
    /*margin: 2%;*/
    width: 100%;
    text-align: center;

}
.contenedor-palabra-descripcion {
    padding: 2%;
   /* margin: 2%;*/
    width: 100%;
    text-align: center;

}

h1 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    
}

/* ------ END PRODUCT CART ---------*/ 

/* ---------- REGISTER (INICIO)---------------*/ 

.register {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
}

form {
    max-width: 80%;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    padding-top: 2em;
  }

  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    border: 0;
    background: #4BC970;
    border-radius: 4px;
    box-shadow: 0 5px 0 #075c3b;
    color: white;
    cursor: pointer;
    font: inherit;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    width: 100%;
    position: relative;
    left: 0%;
  }
  
  button:hover {
    background-color: #075c3b;
    color: white;
    font-weight: bold;
  }
  
  button:active {
    box-shadow: 0 2px 0 #075c3b;
    transform: translateY(3px);
  }
  .botones-compra {
    display: flex;
    gap: 10px;
    margin: 2%;
    
  }

  .contenedor-logo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  .logo1 {
    align-self: center;
    width: 10%;
}
h4 {
    text-align: center; 
    margin-top: 2%;
}

  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  .compra-register {
    font-size: 1.0em;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 8px;    
    font-size: 20px;
    font-weight: bolder;
  }
   
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /*@media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }*/ /*lo comente xq desconfigura parte del login y register*/

  .user_nombre {
    border: dotted 5px red;
  }

/* --------------- REGISTER (INICIO)---------------------*/ 

/*----------------- LOGIN (INICIO)-----------------------*/

.altausuario-login {
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    padding-top: 2em;
}

.altausuario-login div input{
    border-color: white;
    border-radius: 5px;
}

.bienvenido {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bolder;
}

.usuario-login {    
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    display: flex;  
    padding: 7px;
    font-size: 15px;
    height: 3em;
}

.password-login {
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    display: flex;  
    padding: 7px;
    font-size: 15px;
    height: 3em;
}

/*.recordarcontraseña-login {
    font-size: 15px;
    position:static;    
}*/
.recordarcontraseña-login {
  font-size: 15px; 
  margin-bottom: 5px; 

}

.olvidemiclave-login {
    list-style-type: none;
    font-size: 15px;
    left: 65%;
    margin-top: 10px;
    margin-bottom: 10px;
    /*text-align: right;*/
}

/*.olvidemiclave-login {
    display: block;
    color: rgb(23, 121, 19);
    text-decoration: none;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 27%;
  }*/

  /*.olvidemiclave-login::after{
    content: "";
    background: #90f1aa;
      mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .olvidemiclave-login:hover::after{
    height: calc(100% + 8px)
}*/

  

/*.boton-login, .boton-borrar {
    background-color: #093f10;
    color: white;
    border: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    width: 60%;
    position: relative;
    left: 20%;
}*/

.boton-login, .boton-borrar {
  border: 0;
  background: #4BC970;
  border-radius: 4px;
  box-shadow: 0 5px 0 #075c3b;
  color: white;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  width: 60%;
  position: relative;
  left: 20%;
}

.boton-login:hover {
  background-color: #075c3b;
  color: white;
  font-weight: bold;
}

.boton-login:active, .boton-borrar:active {
  box-shadow: 0 2px 0 #075c3b;
  transform: translateY(3px);
}

.boton-borrar:hover {
    background-color: #075c3b;
    color: white;
    font-weight: bold;
}

body {
  
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.register-body {
  background-color: #e8eeef;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.login-body {
  background-color: #e8eeef;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;

}
/*------------- LOGIN (FIN)-------------------*/

/*------------- FOOTER (INICIO)--------------------*/
/*footer {
  text-align: center;
  padding-top: 8%;
  padding-bottom: 25%;
  background-color: #7fbf90;
  /*font-family: "Roboto", sans-serif;
  
}*/

.pie {
display: flex;
flex-direction: row;
text-align: center;
justify-content: space-around;
box-sizing: border-box;
font-family: 'Source Sans Pro', sans-serif;
position: relative;
color: #075c3b;

}

footer {
  text-align: center;
  background-color: #7fbf90;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  font-size: 10px;
  justify-content: space-around;
  box-sizing: content-box;
  padding-bottom: 2em;
  text-transform: uppercase;
}

footer i {
  padding: 0.5em;
  font-size: 15px;
}

.redes-sociales,.wapp,.envios {
  width: 33%;
  


  
}

/*------------- FOOTER (FIN)---------------------*/
