* {
    margin: 0px;
    padding: 0px;
  }

  header{
    background-color: #7fbf90;
    text-align: center;
    font-weight: bold;
  }

  body {
    font-family: "Roboto", sans-serif;
    background-color: #7fbf90;
  }

  img {
border-radius: 50%;
  }