* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }



  header{
    background-color: #7fbf90;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0px;
    width: 100%;

  }


.logo-slogan {

}

.login-cart{

}

.buscador{}

.register-plants-accesories{

}

  main   {
    background-color: white;
    text-align: center;
    font-weight: bold;
    position: fixed;
    width: 100%;

    

  }