/** {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }*/
/*header{
    height: 40vh;
    background-color: #7fbf90;
    
}

header div img{
    max-width: 25vh;
}

.div-img{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
} 
.conteiner{
    
    display: flex;
    flex-direction: row; 
    justify-content: space-around;  
}

.iconos-header{
        text-align: center;
        margin: auto;
}
*/

/* Jenny Css*/ 
/*header{
    background-color: #90f1aa;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 0px;
    width: 100%;
  }*/

  /*img {
    border-radius: 50%;
  }*/

/*.nombre-website{
  font-weight: bold;
  font-size: large;
  padding-bottom: 2em;
}*/
/*.logo-slogan {
  display: flex;
  align-items:center;
  flex-direction: column;
  color: #134d22;
  justify-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
}*/

/*.login-cart-register{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: content-box;
  padding-bottom: 2em;
}*/

/*.search-container{
  padding-top: 1em;
  border-radius: 10%;
  padding-bottom: 2em;
}*/

/* start of link styles*/
/*p {
    position: absolute;
    transform: translate(-50%);
  }*/
  
  a {
    display: block;
    color: rgb(23, 121, 19);
    text-decoration: none;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  a::after{
    content: "";
    background: #90f1aa;
      mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
      transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  a:hover::after{
      height: calc(100% + 8px)
  }
  
  /* end of link styles*/
  
  /*start of search container style*/
  /*.search-container{
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }*/

  
  /*.search-container:hover > .search-input{
    width: 400px;
  }
  */
  /*.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
  
  }
  
  .search-container .search-btn .fas{
    color: #5cbdbb;
  }
  
  @keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
  }
  
  .search-container:hover{
  animation: hoverShake 0.15s linear 3;
  }*/
  

  /*.img-tabla img{
    width: 10vw;
    height: 10vh;
  }*/

  /*.contendor-tabla{
    width: 80vw;
  }*/

  /*table {
    table-layout: fixed;
    width: 100%;
    padding: 10%;
    border-collapse: collapse;
    border: 3px solid;
  }*/

  /*thead th:nth-child(1) {
    width: 12%;
  }
  
  thead th:nth-child(2) {
    width: 22%;
  }
  
  thead th:nth-child(3) {
    width: 22%;
  }
  
  thead th:nth-child(4) {
    width: 22%;
  }

  thead th:nth-child(5){
    width: 22%;
  }

  th, td {
    padding: 20px;
  }

  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  thead tr {
    background-image: url(/images/fondoTabla.jpg);
    background-size: cover;
  background-position: center;
  }
  tfoot th {
    text-align: right;
  }
  tfoot td{
    text-align: right;
  }

   tfoot {
  
    color: black;
    text-shadow: 1px 1px 1px black;
  }
*/
  /*caption {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-style: italic;
    caption-side: top;
    color: #666;
    text-align: center;
    letter-spacing: 1px;
  }
 

/* Cambial colo de fondo de las filas de manera alternada */
  /*tbody tr:nth-child(odd) {
    background-color: #90f1aa;
  }
  
  tbody tr:nth-child(even) {
    background-color: white;
  } /*end of search container style
  */